.better-rslider {

  &__container {
    width: 300px;
    height: 300px;
    margin-bottom: 100px;
    background: burlywood;

    display: grid;
    position: relative;
  }

  &__point-main {
    background: aquamarine;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    position: absolute;
    top: calc(50% - 30px);
    margin-left: -30px;
    opacity: 0.3;
    z-index: 2;
  }

  &__point-second {
    background: aquamarine;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    position: absolute;
    top: calc(50% - 30px);
    margin-left: -30px;
    opacity: 0.3;

    z-index: 2;
  }

  &__point--vertical {
    left: calc(50% - 30px);
    margin-bottom: -30px;
    margin-left: unset;
    top: unset;
  }

  &__range-line {
    background: purple;
    height: 100%;
    position: absolute;
    z-index: 1;
    left: 0;
    &--vertical {
      width: 100%;
      bottom: 0;
    }
  }

  &__line {
    width: 100%;
    height: 50%;
    border-radius: 10px;
    background: darkgrey;
    align-self: center;
    position: relative;

    &--vertical {
      width: 50%;
      height: 100%;
      align-self: unset;
      justify-self: center;
    }
  }
}