.better-rslider {

  &__container {
    width: 100%;
    height: 50px;
    background: burlywood;

    display: grid;
    position: relative;

    &--vertical {
      width: 50px;
      height: 300px;
    }
  }

  &__point-main {
    background: aquamarine;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    position: absolute;
    top: calc(50% - 15px);
    margin-left: -15px;
    z-index: 3;
    display: grid;
    align-content: center;
    justify-content: center;

    &:hover {
      cursor: pointer;
    }
  }

  &__point-second {
    background: aquamarine;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    position: absolute;
    top: calc(50% - 15px);
    margin-left: -15px;
    z-index: 2;
    &:hover {
      cursor: pointer;
    }
  }

  &__point--vertical {
    left: calc(50% - 15px);
    margin-bottom: -15px;
    margin-left: unset;
    top: unset;
  }

  &__range-line {
    background: purple;
    height: 100%;
    position: absolute;
    z-index: 1;
    left: 0;
    &--vertical {
      width: 100%;
      bottom: 0;
    }
  }

  &__line {
    width: 100%;
    height: 50%;
    border-radius: 10px;
    background: darkgrey;
    align-self: center;
    position: relative;

    &--vertical {
      width: 50%;
      height: 100%;
      align-self: unset;
      justify-self: center;
    }
  }
}